<!doctype html>
<html lang="en">
{% load staticfiles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<head>

  <title>Home</title>
</head>
<body>

<div class="container-fluid">

  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'homePage' %}"><img src="{% static 'logo.png' %}" width="300px"></a>
    <li class="nav-item form-inline my-2 my-lg-0">
      <a class="nav-link disabled" href="#">0800 0000 000<span style="padding-left: 50px;">01603 000 000</span></a>
    </li>
  </nav>

  <nav class="navbar navbar-expand-md navbar-dark bg-success">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link text-white" href="{% url 'homePage' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'gallery' %}">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'allblogs' %}">Blog</a>
        </li>
      </ul>
    </div>
  </nav>

  <div>
    <img class="img-fluid" style="max-width: 100%;" src="{% static 'scrsBanner.jpg' %}">
  </div>

<br>

  <div class="container">
    <div class"row align-items-center">
      <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EAHcJpCtVSM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>

<br>

    <div>
      <h4  class="text-center">Do you have to contend with a conservatory that is <span class="text-danger">extremely hot</span></h4>
      <h4  class="text-center"> In the <span class="text-danger">Summer</span> and <span class="text-primary">ice-cold</span> during the <span class="text-primary">Winter?</span></h4>
      <br>
      <h6  class="text-center">Fancy a conservatory that comes off as a refreshing extension of your home? Are you thinking of a conservatory that is user-friendly all year round regardless of the occasion or event?</h6>
      <h6  class="text-center"><small>Recreate a charming effect with your conservatory anew with an insulated conservatory roof by Specialist Conservatory Roof Systems. Our reputation is that of  one the top front-running Tiled Conservatory Roof and Ceiling Insulation Companies in the UK, we have an alluring range of top quality and fully guaranteed solutions that remedy any conservatory problems.</small></h6>
    </div>
<hr>
    <div>
      <h2 class="text-center">Gallery</h2>
      <div class="row">
          <div class="col-md-4">
            <a href="#"><img class="img-fluid" src="{% static 'Conservatory01.jpg' %}"></a>
          </div>
          <div class="col-md-4">
            <a href="#"><img class="img-fluid" src="{% static 'Conservatory02.jpg' %}"></a>
          </div>
          <div class="col-md-4">
            <a href="#"><img class="img-fluid" src="{% static 'Conservatory03.png' %}"></a>
          </div>
      </div>
    </div>
<br>
    <div class="row bg-success pt-3 pb-3">
      <div class="col-sm pb-4">
        <div class="border border-light">
          <p  class="text-center mb-0 text-white"><strong>Email</strong></p>
          <p  class="text-center mb-0 text-white">sales@scrsanglia.co.uk</p>
        </div>
      </div>
      <div class="col-sm pb-4">
        <div class="border border-light">
          <p  class="text-center mb-0 text-white"><strong>Address</strong></p>
          <p  class="text-center mb-0 text-white">Unit 6 Island Estate, Main Road</p>
          <p  class="text-center mb-0 text-white">North Burlingham, Norwich NR13 4TA</p>
        </div>
      </div>
      <div class="col-sm pb-4">
        <div class="border border-light">
          <p  class="text-center mb-0 text-white"><strong>Phone</strong></p>
          <p  class="text-center mb-0 text-white">0800 0000 000</p>
        </div>
      </div>
  </div>
<br>
    <div class="pb-3">
      <img class="img-fluid border border-info" src="{% static 'financeBanner.png' %}">
    </div>

    <div class="card border-success mb-2" style="max-width: 100%;">
      <div class="card-header pb-0">Specialist Conservatory Roof Systems</div>
      <div class="card-body text-success pb-1 pt-1">
        <p class="card-text mb-0">CALL TODAY ON 0800 085 8121 LINES OPEN 7 DAYS A WEEK.</p>
        <p class="card-text text-center mb-0">Copyright © 2018 All Rights Reserved</p>
      </div>
    </div>

</div>






  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>

</html>
